{{ if or (.HasShortcode "gallery") (.HasShortcode "image") }}
  {{ partialCached "single/photoswipe.html" . }}
  {{ if or (.HasShortcode "gallery") (eq .Params.imageGroupClass "gallery") }}    
    <!-- script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script -->
    <script src='/plugins/jquery-2.1.3.min.js'></script>
    <script src="/plugins/justifiedGallery/jquery.justifiedGallery.min.js"></script>
    <link rel="stylesheet" href="/plugins/justifiedGallery/justifiedGallery.min.css" />
    <script type="text/javascript">
      $('.gallery').justifiedGallery({
        'selector':'figure, div:not(.spinner)'
      }).on('jg.complete', function(){
        initPhotoSwipeFromDOM('.gallery{{ with .Params.imageGroupClass }}{{ if not (eq . "gallery") }}, .{{ . }}{{ end }}{{ end }}');
      });
     </script>
  {{ else if (.HasShortcode "image") }}
     <script>initPhotoSwipeFromDOM('.{{ or .Params.imageGroupClass "content"}}')</script>
  {{ end }}
{{ end }}
