  <div id="encoded_mail_text">asso@velo</div>

  <a id="encoded_mail_link" href="asso@velo">
      <span aria-hidden class="fas fa-envelope" title="Écrire"></span>
      <span class="sr-only">Écrire</span>
  </a>
  <div id="mail_decode" style="font-size:small; max-width:10rem;">
    <!-- pour ceux qui n'ont pas javascript -->
    Pour avoir la bonne adresse mail, remplacer "@velo" par "@pauavelo.fr".
  </div>

  <script type="text/javascript">
    document.getElementById("mail_decode").style.display="none";
    document.getElementById("encoded_mail_text").innerHTML="asso@velo".replace("velo", "pauavelo.fr");
    document.getElementById("encoded_mail_link").setAttribute("href","mailto:asso@velo".replace("velo","pauavelo.fr"));
  </script>
