<div class="tags">
  {{ if $.Site.Taxonomies.tags }}
    {{ $fontUnit := "rem" }}
    {{ $largestFontSize := 2.0 }}
    {{ $largestFontSize := 2.5 }}
    {{ $smallestFontSize := 1.0 }}
    {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
    {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
    {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
    {{ $tagMinOccurence := or .Params.tag_min_occurence 1 }}
    {{ $min := cond (le $min $tagMinOccurence) $tagMinOccurence $min }}
    {{ $spread := sub $max $min }}
    {{ $fontStep := div $fontSpread $spread }}
        {{ range $.Site.Taxonomies.tags.Alphabetical }}
            {{ $currentFontSize := (add $smallestFontSize (mul (sub .Count $min) $fontStep) ) }}
            {{ $count := len .Pages }}
            {{ if ge $count $tagMinOccurence }}
              {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
              {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) ) }}
              <!--Current font size: {{$currentFontSize}}-->
              <a href="{{ .Page.RelPermalink }}" style="font-size:{{$currentFontSize}}{{$fontUnit}}">
                {{- .Term -}}
              </a>
            {{ end }}
        {{ end }}
  {{ end }}
</div>
