	<header>
		<div class="headline">
   		 <div class="inner">
	       <p><span class="fall-down">L'avenir en bonne santé</span>
				 <span class="come-in">est à vélo et à pied&nbsp;!</span></p>
		    </div>
		 </div>
	</header>
