#header{
	text-align:center;
	padding-bottom:1em;
}

pre {
  background-color: #222;
  color: #fff;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding:15px;
  margin: auto;
  max-width: 70em;
}

