{{ $galleryimages := (.Page.Resources.ByType "image").Match (printf "%s/*" (.Get 0)) }}
<div class="gallery" itemscope itemtype="https://schema.org/ImageGallery">
{{ range $galleryimages }}
    {{- $src := (.Resize "x150").Permalink }}
		<figure itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
		  <a href="{{ .Permalink }}" itemprop="contentUrl" data-size="{{ .Width }}x{{ .Height }}" >
		      <img src="{{ $src }}" itemprop="thumbnail" />
		  </a>
		</figure>

{{ end }}
</div>
