{{ $image := (.Page.Resources.ByType "image").GetMatch (.Get "src") }}
{{ $caption := .Get "caption" }}
{{ $width := int (or (.Get "width") 800) }}
{{ with $image }}
  {{- $src := (cond (gt .Width $width ) (.Resize (printf "%dx" $width )) .).Permalink }}
	<figure itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
    {{ with $caption }}
    <figcaption itemprop="caption description">{{ . }}</figcaption>
    {{ end }}
	  <a href="{{ .Permalink }}" itemprop="contentUrl" data-size="{{ .Width }}x{{ .Height }}" >
	      <img src="{{ $src }}" itemprop="thumbnail" />
	  </a>
	</figure>
{{ end }}
