<p>
  <a href="https://www.openrunner.com/route-details/{{ .Get "id" }}" target="_blank">
    <img src="{{with .Get "img"}}{{ . }}{{ else }}openrunner.jpg{{ end }}" title="Ouvrir le parcours sur openrunner">
  </a>
</p>